nav>ul>li{
    display: inline;
    margin-right: 15px;
    text-align:100px;
    
}
footer{
    margin-top: 20px;
    text-align: center;
}
h4{
    text-align: center;
}
section{
    color: rgb(255, 0, 0);
}
div{
    background-color: bisque;
}
label{
   display: block;
   margin-top: 10px;
}